<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         cacheTokens="true"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
		 verbose="true"
         strict="true">
	<testsuites>
		<testsuite name="Box Test Suite">
			<directory suffix=".php" phpVersion="5.3.0" phpVersionOperator="&gt;=">test</directory>
			<exclude>test/fixture</exclude>
		</testsuite>
	</testsuites>
</phpunit>
